<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>0.8.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.pushpin.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Pushpin</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultBackgroundColor</key>
	<string>000000</string>
	<key>DefaultFontFamily</key>
	<string>Lucida Handwriting</string>
	<key>DefaultFontSize</key>
	<integer>12</integer>
	<key>DisableCustomBackground</key>
	<false/>
	<key>ShowsUserIcons</key>
	<true/>
	<key>DisplayNameForNoVariant</key>
	<string>Black Background</string>
	<key>MessageViewVersion</key>
	<integer>3</integer>
</dict>
</plist>
