*.pidb
*.userprefs
*.usertasks
*.pc
*.swp
*.DS_Store
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
gtk-doc.make
install-sh
missing
omf.make
xmldocs.make
build
debian/changelog
debian/stamp*
debian/synapse*
debian/files
debian/synapse/
src/Synapse.QtClient/synapse
